.idea/

## server
/server/node_modules
/server/dist
/server/npm-debug.log
/node_modules

## client
# compiled output
/client/dist
/client/tmp

# dependencies
/client/node_modules

/docapp/node_modules
/docapp/client/dist
/docapp/client/tmp
/docapp/server/node_modules
/docapp/server/dist
/docapp/server/npm-debug.log

# misc
/client/npm-debug.log

# e2e
/client/e2e/*.js
/client/e2e/*.map
